@import "./vendor/normalize.scss";
@import "./partials/colors";
@import "./partials/mixins";

nav {
    background-color: $header-color;
    ul {
    margin-bottom: 50px;
        li {
    display: inline-block;
            a {
    text-decoration: none;
    color: $primary-font-color;
            }
        }
    }
}
